<div id="dtf">
    <div class="container">
        <div class="row dtf-row">
            <div class="dt-col col-md-6">
                <a href="#" data-toggle="modal" data-target="#dtf-upload-dialog" class="btn btn-success">
                    <i class="fa fa-upload" style=""></i> Upload
                </a>

                <a href="#" data-toggle="modal" data-target="#dtf-new-folder-dialog" class="btn btn-default">
                    <i class="fa fa-folder-o"></i> New Folder
                </a>
            </div>
            <div class="dt-col col-md-6">
                <div class="row">
                    <div class="col-md-5 col-md-offset-7">
                        <input class="form-control dtf-search-input" placeholder="Search" type="search"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="dtf-breadcrumb-container">
                    <a id="dtf-parent-folder" href="#">
                        <i class="fa fa-reply"></i>
                    </a>
                    <span id="dtf-breadcrumb"> </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="dtf-desktop-area">
                    <div id="dtf-tree"></div>
                    <div id="dtf-area" class="dtf-context-holder" data-context-target='#bro-context-menu'></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div> {% include "upload-form.html" %} </div>
<div> {% include "new-folder-form.html" %} </div>
<div> {% include "sub-browser.html" %} </div>
<div> {% include "properties-dialog.html" %} </div>
