
#sub-browser-dialog ul,
    .dtf-nav ul {
        list-style: none;
        padding-left: 15px;
        width: auto;
        white-space: nowrap;
    }

    .dtf-toolbar,
    .dtf-breadcrumb-container {
        clear: both;
    }

    .dtf-browser-container {
        padding: 15px;
    }

    .dtf-nav {
        background-color: #F5F5F5;
        width:250px;
        float: left;
        padding-top: 10px;
        border: 1px solid #e1e1e1;
        overflow: auto;s
    }

    .dtf-area {
        float: left;
        min-height: 300px;
        max-height: 500px;
    }

    .dtf-area ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .dtf-area li a {
        color: #888888;
    }

/* General style */
.btn {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#sub-browser-dialog .selected {
    background: #e5e5e5;
}

.property-label {
    font-weight: bold;
}

.dt-rename-input:focus,
.dt-rename-input {
    text-align: center;
    color: inherit;
    margin: 0;
    padding: 0;
    font-size: 14px;
    border: none;
    box-shadow: none;
}

@media (max-width: 767px) {

    .dtf-area li.dtf-item {
        line-height: 30px;
        border-bottom: 1px solid #e1e1e1;
    }
    .dtf-area li .icon {
        display: inline-block;
        line-height: 2em;
        margin: 2px 5px;
    }

    .dtf-item img {
        height: 14px !important;
    }
    .dtf-item .file-name {
    	white-space: nowrap;
    }
}

@media (min-width: 767px) {

    .mobile-context-menu {
        display: none;
    }
    .dtf-area li.dtf-item {
        text-align: center;
        display: block;
        float: left;
        margin: 10px 5px 20px;
        width: 100px;
        height: 80px;
        white-space: pre;
    }

    .dtf-area li .file-name {
        display: block;
    }

    .dtf-area li .icon {
        font-size: 3.6em;
    }
}
